<template>
  <div class="ComicBoard" @click.prevent="onClickOutside"
      :style="{cursor: (focusedPanel == -1 || !gameState.panelState[2].discovered) ? 'default' : 'zoom-out'}">
    <div :class="'PanelContainer' + (isResizing==true ? ' NoTransition' : '')"
        :style="{
          transform: 'translate(' +
            translateX() + 'px,' +
            translateY() + 'px)scale(' +
            scale() + ')'}">
      <ComicPanel v-for="(panel, index) in panels"
          :posX="panel.pos.x"
          :posY="panel.pos.y"
          :source="panel.image"
          :state="panelState(index, panels)"
          :interactionComponent="panel.interactionComponent"
          :environment="(panel.env !== undefined) ? panel.env : ''"
          :sound="(panel.sound !== undefined) ? panel.sound : ''"
          :key="index"
          :ref="'panel' + index"
          @panel-navigation="navigateToPanel(index)"
          @unknown-panel-navigation="navigateToUnknownPanel(index)" />
      <PanelArrows v-if="focusedPanel != -1"
          :panel="panels[focusedPanel]"
          :advanceIndices="panels[focusedPanel].advance"
          :advancePanels="getAdvancePanels(focusedPanel)"
          @panel-navigation="navigateToPanel" />
    </div>
    <Inventory ref="inventory" :inventory="gameState.inventory" />
  </div>
</template>

<script>
import ComicPanel from '@/components/ComicPanel.vue'
import PanelArrows from '@/components/PanelArrows.vue'
import Inventory from '@/components/Inventory.vue'
import { EnvironmentControls } from '@/components/Environment.js'
import PanelMath from '@/components/PanelMath.js'
import GameState from '@/components/GameState.js'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'ComicBoard',
  mixins: [
    PanelMath,
    GameState,
    EnvironmentControls
  ],
  components: {
    ComicPanel,
    PanelArrows,
    Inventory
  },
  mounted() {
    window.addEventListener("resize", this.onResize)
    //this.navigateToPanel(this.focusedPanel) // TODO: implement menu first because interaction must precede sound playback
  },
  unmounted() {
    window.removeEventListener("resize", this.onResize)
  },
  props: {
    panels: Array
  },
  data() {return{
    focusedPanel: 0,
    isResizing: false
  }},
  methods: {
    translateX() {
      if(this.focusedPanel != -1) {
        let panelPosX = this.unitsToPixels(this.panels[this.focusedPanel].pos.x)
        return this.centerPanelOffset(this.scale()).x - panelPosX*this.scale()
      }
      else {
        let aabb = this.panelsAABB(this.visiblePanels())
        let centerPosX = this.unitsToPixels((aabb.left + aabb.right)*.5)
        return this.centerPanelOffset(this.scale()).x - centerPosX*this.scale()
      }
    },
    translateY() {
      let result = 0
      if(this.focusedPanel != -1) {
        let panelPosY = this.unitsToPixels(this.panels[this.focusedPanel].pos.y)
        result = this.centerPanelOffset(this.scale()).y - panelPosY*this.scale()
      }
      else {
        let aabb = this.panelsAABB(this.visiblePanels())
        var centerPosY = this.unitsToPixels((aabb.top + aabb.bottom)*.5)
        result = this.centerPanelOffset(this.scale()).y - centerPosY*this.scale()
      }
      return result - window.innerHeight*.05
    },
    scale() {
      if(this.focusedPanel == -1) {
        return this.panelsOverviewScale(this.visiblePanels())
      }
      else {
        return 1
      }
    },
    getAdvancePanels(panelIndex) {
      let advance = []
      let panel = this.panels[panelIndex]
      for(let advId in panel.advance) {
        advance.push(this.panels[panel.advance[advId]])
      }
      return advance
    },
    visiblePanels() {
      return this.panels.filter(
        (panel, index) => this.panelState(index, this.panels) != 'invisible')
    },
    navigateToPanel(panelIndex) {
      this.focusedPanel = panelIndex
      this.$refs.inventory.hide()
      if(panelIndex != -1) {
        this.$refs['panel' + panelIndex].$forceUpdate()
        this.gameState.panelState[panelIndex].discovered = true
        this.$refs['panel' + panelIndex].onReceiveNavigate()
        sfxPlayer.play('NavigatePanel')
      }
      else {
        this.setEnvironmentFar()
      }
    },
    navigateToUnknownPanel(panelIndex) {
      if(this.focusedPanel != -1 &&
          this.panels[this.focusedPanel].advance.indexOf(panelIndex) != -1) {
        this.navigateToPanel(panelIndex)
      }
      else {
        let pred = this.panelDiscoveredPredecessor(panelIndex, this.panels)
        this.navigateToPanel(pred)
      }
    },
    onResize() {
      this.isResizing = true
      this.$forceUpdate()
      setTimeout(() => this.isResizing = false, 50)
    },
    onClickOutside() {
      if(this.gameState.panelState[2].discovered) {
        this.navigateToPanel(-1)
      }
    }
  }
}
</script>

<style scoped>
.ComicBoard {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.PanelContainer {
  position: absolute;
  transition: transform 0.4s ease-out;

  transform: translateZ(0);
}
.NoTransition {
  transition: none !important;
}
</style>
