<template>
  <img ref="image" draggable='false'
    :style="{
        visibility: (state == 'invisible') ? 'hidden' : 'visible',
        cursor: state == 'discovered' ? 'pointer' : 'default',
        top: unitsToPixels(posY) + 'px',
        left: unitsToPixels(posX) + 'px',
        width: panelsToPixels(1) + 'px',
        height: panelsToPixels(1) + 'px'}"
    :src="imageSource(state)"
    @click.prevent.stop="onClick"
    @dragstart.prevent="" />
  <component v-if="displayInteraction()"
    :class="{hidingComponent: state == 'undiscovered'}"
    :is="fetchInteractor(interactionComponent)"
    :interactive="state == 'interactive'"
    :style="{
        cursor: state == 'discovered' ? 'pointer' : 'default',
        top: unitsToPixels(posY) + 'px',
        left: unitsToPixels(posX) + 'px',
        width: panelsToPixels(1) + 'px',
        height: panelsToPixels(1) + 'px'}"
    ref="interactor"
    @click.stop="onClick"
    @dragstart.prevent="" />
</template>

<script>
import PanelMath from '@/components/PanelMath.js'
import InteractorLoader from '@/components/InteractorLoader.js'
import { EnvironmentControls } from '@/components/Environment.js'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'ComicPanel',
  mixins: [
    PanelMath,
    InteractorLoader,
    EnvironmentControls
  ],
  emits: ["panel-navigation", "unknown-panel-navigation"],
  mounted() {
    window.addEventListener("resize", this.$forceUpdate)
  },
  unmounted() {
    window.removeEventListener("resize", this.$forceUpdate)
  },
  props: {
    posX: Number,
    posY: Number,
    source: String,
    state: String,
    interactionComponent: {type: String, default: ''},
    environment: String,
    sound: String
  },
  methods: {
    onReceiveNavigate() { // public
      this.setEnvironment(this.environment)
      if(this.displayInteraction()) {
        if(typeof this.$refs.interactor.onReceiveNavigate == 'function') {
          this.$refs.interactor.onReceiveNavigate()
        }
      }
      if(this.sound != '') {
        sfxPlayer.play(this.sound)
      }
    },
    imageSource(state) {
      switch(state) {
        case 'locked':
          return require(`@/assets/img/ui/LockedPanel.svg`)
        case 'undiscovered':
          return require(`@/assets/img/ui/UnknownPanel.svg`)
        default:
          return require(`@/assets/img/panels/${this.source}.svg`)
      }
    },
    onClick() {
      if(this.state == 'discovered') {
        this.$emit('panel-navigation')
      }
      else if(this.state == 'undiscovered') {
          this.$emit('unknown-panel-navigation')
      }
      else if(this.state != 'interactive') {
        this.triggerCssAnim(this.$refs.image, "shake")
        if(this.state == 'locked') {
          sfxPlayer.play('Locked')
        }
      }
    },
    displayInteraction() {
      let hasInteractionComponent = this.interactionComponent != ''
      let isDiscovered = this.state == 'discovered' || this.state == 'interactive' || this.state == 'undiscovered'
      return hasInteractionComponent && isDiscovered
    },
    triggerCssAnim(domElement, animClass) {
      domElement.classList.add(animClass)
      function animRemover() {
        domElement.classList.remove(animClass)
        domElement.removeEventListener("animationend", animRemover)
      }
      domElement.addEventListener("animationend", animRemover)
    }
  },
  watch: {
    state(val, oldVal) {
      if(oldVal == 'invisible' || oldVal == 'locked' || oldVal == 'undiscovered') {
        this.triggerCssAnim(this.$refs.image, "fadeIn")
      }
    }
  }
}
</script>

<style scoped>
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}
.hidingComponent {
  visibility: hidden;
}
.shake {
  animation: shakeAnim .1s linear 3;
}
@keyframes shakeAnim {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.fadeIn {
  animation: fadeInAnim .3s linear
}
@keyframes fadeInAnim {
  0% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}
</style>
