<template>
  <div :class="{Inventory: true, ExpandedInventory: expanded}"
      @click.stop="selected.index = -1"
      @mouseover="expanded = true" @mouseleave="expanded = false">
    <ItemDisplay v-for="(item, index) in inventory"
        :color="currentEnvironment.color"
        :class="{
          ItemDisplay: true,
          ObtainAnim: true,
          SelectedItemDisplay: selected.index == index,
          HiddenBarItem: !expanded}"
        :item="item"
        :key="index"
        :ref="'item' + index"
        @click.stop="onClick(index)"
        draggable="true"
        @dragstart="onDragItem($event, item)" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import Environment from '@/components/Environment.js'
import ItemDisplay from '@/components/ItemDisplay.vue'
import { sfxPlayer } from '@/components/AudioPlayer.js'

let selected = {index: -1}

export let InventoryControls = {
  name: 'InventoryControls',
  mixins: [
    GameState
  ],
  data() {
    return {selected: selected}
  },
  methods: {
    addItem(itemName) {
      if(!this.hasItem(itemName)) {
        this.selected.index = -1
        this.gameState.inventory.push(itemName)
      }
    },
    removeItem(itemName) {
      let index = this.gameState.inventory.indexOf(itemName)
      if(index != -1) {
        this.selected.index = -1
        this.gameState.inventory.splice(index, 1)
      }
    },
    hasItem(itemName) {
      return this.gameState.inventory.indexOf(itemName) != -1
    },
    selectItem(itemIndex) {
      this.selected.index = itemIndex
      sfxPlayer.play('SelectItem')
    },
    getSelectedItem() {
      if(this.selected.index == -1) {
        return ''
      }
      else {
        return this.gameState.inventory[this.selected.index]
      }
    }
  }
}

export default {
  name: 'Inventory',
  mixins: [
    Environment,
    InventoryControls
  ],
  components: {
    ItemDisplay
  },
  mounted() {
    window.addEventListener("resize", this.$forceUpdate)
  },
  unmounted() {
    window.removeEventListener("resize", this.$forceUpdate)
  },
  props: {
    inventory: Array
  },
  data() {return{
    expanded: false
  }},
  methods: {
    onClick(itemIndex) {
      if(this.selected.index == itemIndex)
        this.selectItem(-1)
      else
        this.selectItem(itemIndex)
    },
    onDragItem(event, itemName) {
      event.dataTransfer.dropEffect = 'move'
      event.dataTransfer.effectAllowed = 'move'
      event.dataTransfer.setData('itemName', itemName)
    },
    hide() {
      this.selected.index = -1
      this.expanded = false
    }
  }
}
</script>

<style scoped>
.Inventory {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9vh;
  background-color: white;
  box-shadow: 0 -2px 3px 3px #E0E0E0;
  transition: all 0.4s ease-out;
}
.ExpandedInventory {
  height: 18vh;
}
.ItemDisplay {
  display: inline-block;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  margin: 1vh 4.5vh;
  transition: width 0.4s ease-out, height 0.4s ease-out, margin 0.4s ease-out;
}
.ExpandedInventory .ItemDisplay {
  width: 14vh;
  height: 14vh;
  margin: 2vh 2vh;
}
.ItemDisplay:hover {
  filter: brightness(.7);
}
.SelectedItemDisplay {
  filter: brightness(.4);
}
.SelectedItemDisplay:hover {
  filter: brightness(.2);
}
.HiddenBarItem {
  pointer-events: none;
}
.ObtainAnim {
  animation: obtainAnim .3s ease
}
@keyframes obtainAnim {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}
</style>
