<template>
  <div ref="image" :style="{
    'mask-image': 'url(' + require(`@/assets/img/items/${item}.svg`) + ')',
    'background-color':  color}" />
</template>

<script>
export default {
  name: 'ItemDisplay',
  emits: ["panel-navigation"],
  props: {
    item: String,
    color: String
  }
}
</script>

<style scoped>
div {
  mask-size: contain;
}
</style>
