<template>
  <img v-for="(pInfo, index) in activeAdvancePanels()"
      src="@/assets/img/ui/Arrow.svg"
      :class="{inactive: pInfo.locked}"
      :style="{top: unitsToPixels(panel.pos.y) + panelsToPixels(finalArrowPosition(panel, pInfo.adv).y) + 'px',
              left: unitsToPixels(panel.pos.x) + panelsToPixels(finalArrowPosition(panel, pInfo.adv).x) + 'px',
              width: panelsToPixels(arrowSize) + 'px',
              height: panelsToPixels(arrowSize) + 'px',
              transform: 'rotate(' +
                advanceArrowRotation(panel, pInfo.adv) + 'rad)'}"
      @click.stop="(!pInfo.locked) && $emit('panel-navigation', advanceIndices[index])"
      @dragstart.prevent=""
      :key="advanceIndices[index]" />
</template>

<script>
import PanelMath from '@/components/PanelMath.js'
import GameState from '@/components/GameState.js'

export default {
  name: 'ComicPanel',
  mixins: [
    PanelMath,
    GameState
  ],
  emits: ["panel-navigation"],
  mounted() {
    window.addEventListener("resize", this.$forceUpdate)
  },
  unmounted() {
    window.removeEventListener("resize", this.$forceUpdate)
  },
  props: {
    panel: Object,
    advanceIndices: Array,
    advancePanels: Array
  },
  data() {return {
    arrowSize: .2,
    arrowDistance: .6
  }},
  methods: {
    advanceDirection(panel, adv) {
      let x = adv.pos.x - panel.pos.x
      let y = adv.pos.y - panel.pos.y
      let len = Math.sqrt(x*x + y*y)
      return {x: x/len, y: y/len}
    },
    advanceQuadDirection(panel, adv) {
      let x = adv.pos.x - panel.pos.x
      let y = adv.pos.y - panel.pos.y
      let factor = 1.0
      if(Math.abs(x) > Math.abs(y)) {
        factor = Math.sign(x) / x
      }
      else {
        factor = Math.sign(y) / y
      }
      x *= factor
      y *= factor
      let len = Math.sqrt(x*x + y*y)
      const priorityFactor = .7 + .3/len
      return {x: x*priorityFactor, y: y*priorityFactor}
    },
    advanceArrowPosition(panel, adv) {
      let dir = this.advanceQuadDirection(panel, adv)
      return {x: dir.x*this.arrowDistance, y: dir.y*this.arrowDistance}
    },
    finalArrowPosition(panel, adv) {
      let localPos = this.advanceArrowPosition(panel, adv)
      return { x: .5 + localPos.x - this.arrowSize*.5,
               y: .5 + localPos.y - this.arrowSize*.5}
    },
    advanceArrowRotation(panel, adv) {
      let dir = this.advanceDirection(panel, adv)
      let dot = -dir.y
      let det = dir.x
      return Math.atan2(det, dot)
    },
    activeAdvancePanels() {
      let result = []
      for(let i in this.advancePanels) {
        let ps = this.gameState.panelState[this.advanceIndices[i]]
        if(!ps.hidden)
          result.push({adv: this.advancePanels[i], locked: ps.locked})
      }
      return result
    }
  }
}
</script>

<style scoped>
  img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
    z-index: -10;
    -webkit-transition: filter 0.1s ease-in-out;
    -moz-transition: filter 0.1s ease-in-out;
    -o-transition: filter 0.1s ease-in-out;
    transition: filter 0.1s ease-in-out;
  }
  img:hover {
    filter: invert(.5);
  }
  img.inactive, img.interactive:hover {
    cursor: default;
    filter: invert(.85);
  }
</style>
