<template>
  <div>
    <img v-if="gameState.panelState[3].discovered"
      src="@/assets/img/interactors/Delete.svg"
      :class="{hoveredButton: isHovered}" />
    <img v-if="isConfirming"
      src="@/assets/img/interactors/Confirm.svg" />
    <div :class="{clickable: true, activeClickable: interactive && gameState.panelState[3].discovered}"
      @click="interactive && (isConfirming ? deleteSave() : (isConfirming = true))"
      @mouseover="isHovered = true" @mouseleave="isHovered = isConfirming = false"/>
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'

export default {
  name: 'DeleteSave',
  emits: ["panel-navigation"],
  mixins: [
    GameState
  ],
  props: {
    interactive: Boolean
  },
  data() {return{
    isHovered: false,
    isConfirming: false
  }},
  methods: {
    deleteSave() {
      localStorage.saveGame = "{}"
      location.reload()
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 10%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}
.hoveredButton {
  filter: invert(.5);
}
</style>
