<template>
  <div>
    <div :class="{clickable: true, activeClickable: interactive && gameState.panelState[81].locked}"
      @click="interactive && onClick()"
      @dragover.prevent=""
      @drop.stop="interactive && onDropItem($event)" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { InventoryControls } from '@/components/Inventory.vue'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'FinalLock',
  emits: ["panel-navigation"],
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onClick() {
      this.interactItem(this.getSelectedItem())
    },
    onDropItem(event) {
      let itemName = event.dataTransfer.getData('itemName')
      if(itemName) {
        this.interactItem(itemName)
      }
    },
    interactItem(item) {
      if(item == "Key") {
        this.gameState.panelState[81].locked = false
        this.removeItem("Key")
        sfxPlayer.play('DoorOpen')
      }
      else {
        sfxPlayer.play('InteractionFail')
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
