<template>
  <div>
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { InventoryControls } from '@/components/Inventory.vue'
//import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'RedDarkness',
  emits: ["panel-navigation"],
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onReceiveNavigate() {
      if(!this.gameState.hasCrossedGap) {
        this.removeItem("Bow")
        this.removeItem("Arrow")
        this.removeItem("Rope")
        this.gameState.hasCrossedGap = true
        this.gameState.panelState[82].hidden = false
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
