<template>
  <div :ref="onUpdate() ? '' : ''">
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { InventoryControls } from '@/components/Inventory.vue'
//import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'GapWatcher',
  emits: ["panel-navigation"],
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onUpdate() {
      if(this.hasItem("Bow") && this.hasItem("Arrow") && this.hasItem("Rope") ||
          this.gameState.hasCrossedGap) {
        this.gameState.panelState[75].locked = false
        return true
      }
      else {
        this.gameState.panelState[75].locked = true
        return false
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
