<template>
  <div>
    <ItemDisplay class="leftItemDisplay" v-if="hasLeftFill() != ''"
        :item="gameState.handsStatue.leftFill"
        color="#600000" />
    <ItemDisplay class="rightItemDisplay" v-if="hasRightFill() != ''"
        :item="gameState.handsStatue.rightFill"
        color="#600000" />
    <img src="@/assets/img/interactors/hands-statue/LeftHand.svg"
      :class="{fullPanelImage: true, handLowered: interactive && hasRightFill()}" />
    <img src="@/assets/img/interactors/hands-statue/RightHand.svg"
      :class="{fullPanelImage: true, handLowered: interactive && hasLeftFill()}" />
    <img src="@/assets/img/interactors/hands-statue/LeftPupil.svg"
      :class="{fullPanelImage: true,
        leftPupilLeft: interactive && hasRightFill() && !hasLeftFill(),
        leftPupilRight: interactive && hasLeftFill() && !hasRightFill()}" />
     <img src="@/assets/img/interactors/hands-statue/RightPupil.svg"
       :class="{fullPanelImage: true,
        rightPupilLeft: interactive && hasRightFill() && !hasLeftFill(),
        rightPupilRight: interactive && hasLeftFill() && !hasRightFill()}" />
    <div :class="{clickable: true,  leftClickable: true, activeClickable: interactive && hasRightFill()}"
      @click="interactive && onClickLeft()"
      @dragover.prevent=""
      @drop.stop="interactive && onDropItemLeft($event)" />
    <div :class="{clickable: true,  rightClickable: true, activeClickable: interactive && hasLeftFill()}"
      @click="interactive && onClickRight()"
      @dragover.prevent=""
      @drop.stop="interactive && onDropItemRight($event)" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { sfxPlayer } from '@/components/AudioPlayer.js'
import { InventoryControls } from '@/components/Inventory.vue'
import ItemDisplay from '@/components/ItemDisplay.vue'

export default {
  name: 'HandsStatue',
  mixins: [
    GameState,
    InventoryControls
  ],
  components: {
    ItemDisplay
  },
  props: {
    interactive: Boolean
  },
  methods: {
    hasLeftFill() {
      return this.gameState.handsStatue.leftFill != ''
    },
    hasRightFill() {
      return this.gameState.handsStatue.rightFill != ''
    },
    onClickLeft() {
      this.interactLeft(this.getSelectedItem())
    },
    onDropItemLeft(event) {
      let itemName = event.dataTransfer.getData('itemName')
      if(itemName) {
        this.interactLeft(itemName)
      }
    },
    interactLeft(item) {
      if(this.gameState.handsStatue.leftFill == '') {
        let offer = item
        if(offer != '') {
          this.removeItem(offer)
          this.gameState.handsStatue.leftFill = offer
          sfxPlayer.play('PutItem')
          sfxPlayer.play('StoneSlide')
        }
        else {
          sfxPlayer.play('InteractionFail')
        }
      }
      else if (this.gameState.handsStatue.rightFill != '') {
        this.addItem(this.gameState.handsStatue.leftFill)
        this.gameState.handsStatue.leftFill = ''
        sfxPlayer.play('TakeItem')
        sfxPlayer.play('StoneSlide')
      }
    },
    onClickRight() {
      this.interactRight(this.getSelectedItem())
    },
    onDropItemRight(event) {
      let itemName = event.dataTransfer.getData('itemName')
      if(itemName) {
        this.interactRight(itemName)
      }
    },
    interactRight(item) {
      if(this.gameState.handsStatue.rightFill == '') {
        let offer = item
        if(offer != '') {
          this.removeItem(offer)
          this.gameState.handsStatue.rightFill = offer
          sfxPlayer.play('PutItem')
          sfxPlayer.play('StoneSlide')
        }
        else {
          sfxPlayer.play('InteractionFail')
        }
      }
      else if (this.gameState.handsStatue.leftFill != '') {
        this.addItem(this.gameState.handsStatue.rightFill)
        this.gameState.handsStatue.rightFill = ''
        sfxPlayer.play('TakeItem')
        sfxPlayer.play('StoneSlide')
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
}
.activeClickable {
  cursor: pointer;
}
.leftClickable {
  top: 50%;
  left: 0;
  width: 40%;
  height: 50%;
}
.rightClickable {
  top: 50%;
  right: 0;
  width: 40%;
  height: 50%;
}
img {
  user-select: none;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  transition: transform 0.4s ease-out;
}
.fullPanelImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.leftItemDisplay {
  position: absolute;
  display: inline-block;
  bottom: 14%;
  left: 6%;
  width: 26%;
  height: 26%;
}
.rightItemDisplay {
  position: absolute;
  display: inline-block;
  bottom: 14%;
  right: 6%;
  width: 26%;
  height: 26%;
}
.handLowered {
  transform: translateY(40%);
}
.leftPupilLeft {
  transform: translate(-0.82%, 2.1%);
}
.rightPupilLeft {
  transform: translate(-0.21%, 2.1%);
}
.leftPupilRight {
  transform: translate(0.21%, 2.1%);
}
.rightPupilRight {
  transform: translate(0.82%, 2.1%);
}
</style>
