<template>
  <div>
    <ItemDisplay class="item" v-if="!gameState.plankTaken"
      item="Plank"
      color="#1e1e1e" />
    <div :class="{clickable: true, activeClickable: interactive && !gameState.plankTaken}"
      @click="interactive && onClick()" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import ItemDisplay from '@/components/ItemDisplay.vue'
import { InventoryControls } from '@/components/Inventory.vue'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'PlankTake',
  emits: ["panel-navigation"],
  components: {
    ItemDisplay
  },
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onClick() {
      if(!this.gameState.plankTaken) {
        this.gameState.plankTaken = true
        this.addItem("Plank")
        sfxPlayer.play('TakeItem')
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 90%;
  height: 90%;
}
.activeClickable {
  cursor: pointer;
}
.item {
  top: 30%;
  left: 10%;
  width: 90%;
  height: 90%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
