<template>
  <div>
    <img
      src="@/assets/img/interactors/RedDoor.svg"
      ref="doorImage" />
    <div :class="'clickable' + (interactive ? ' activeClickable' : '')"
      @click="interactive && onClick()" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'RedDoor',
  emits: ["panel-navigation"],
  mixins: [
    GameState
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onClick() {
      if(this.gameState.panelState[5].locked) {
        this.gameState.panelState[5].locked = false
      }
      sfxPlayer.play('DoorOpen')
      this.$refs.doorImage.classList.add("open")
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 37.5%;
  left: 25%;
  width: 50%;
  height: 25%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease-out;
}
.open {
  transform: translateX(100%);
}
</style>
