<template>
  <div>
    <img v-if="!gameState.ropeTaken"
      src="@/assets/img/interactors/HangingRope.svg" />
    <div :class="{clickable: true, activeClickable: interactive && !gameState.ropeTaken}"
      @click="interactive && onClick()" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import { InventoryControls } from '@/components/Inventory.vue'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'RopeTake',
  emits: ["panel-navigation"],
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onClick() {
      if(!this.gameState.ropeTaken) {
        this.gameState.ropeTaken = true
        this.addItem("Rope")
        sfxPlayer.play('TakeItem')
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.activeClickable {
  cursor: pointer;
}
img {
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
