<template>
  <div>
    <ItemDisplay class="item" v-if="!gameState.stoneTaken"
      item="Stone"
      color="#1e1e1e" />
    <div :class="{clickable: true, activeClickable: interactive && !gameState.stoneTaken}"
      @click="interactive && onClick()" />
  </div>
</template>

<script>
import GameState from '@/components/GameState.js'
import ItemDisplay from '@/components/ItemDisplay.vue'
import { InventoryControls } from '@/components/Inventory.vue'
import { sfxPlayer } from '@/components/AudioPlayer.js'

export default {
  name: 'StoneTake',
  emits: ["panel-navigation"],
  components: {
    ItemDisplay
  },
  mixins: [
    GameState,
    InventoryControls
  ],
  props: {
    interactive: Boolean
  },
  methods: {
    onClick() {
      if(!this.gameState.stoneTaken) {
        this.gameState.stoneTaken = true
        this.addItem("Stone")
        sfxPlayer.play('TakeItem')
      }
    }
  }
}
</script>

<style scoped>
div {
  display: block;
  position: absolute;
  overflow: hidden;
}
.clickable {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.activeClickable {
  cursor: pointer;
}
.item {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
</style>
