<template>
  <ComicBoard :panels="gameData.panelData" />
</template>

<script>
import ComicBoard from '@/components/ComicBoard.vue'
import GameData from '@/components/GameData.js'
import { SaveWatcher } from '@/components/GameState.js'

export default {
  name: 'App',
  mixins: [
    GameData,
    SaveWatcher
  ],
  components: {
    ComicBoard
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
